* {
    font-family: Helvetica;
}

header {
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url("/Users/zach/Downloads/pattern.jpeg")
}

h2 {
    font-size: 32px;
    font-weight: bold;
    color: white;
}

h2#brushes {
    background-color: mediumspringgreen;
}

h2#frames {
    background-color: lightcoral;
}

h2#paint {
    background-color: skyblue;
}

a {
    font-weight: bold;
    color: blue;
}